
/* Nav Bar */

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat Alternates', sans-serif;
  background: #eee;
}

/* Header */ 

header {
  width: 100%;
  height: 100px;
}

h4 {
  font-size: small;
  color: gray;
}

/* NavBar */

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav-links, h2 {
  flex: 1;
  color: #333;
}
.nav-links li {
  padding: 1rem;
  transition: all 0.2s ease;
}

.navbar-brand:hover {
  font-style: italic;
  transform: translateX(5px);
  font-weight: bold;
}

.nav-item:hover {
  font-style: italic;
  transform: translateX(5px);
  font-weight: bold;
}

/* Main */

main {
    padding-top: 2%;
    height: 100%;
    width: 100%; 
}

.metier {
  font-size: smaller;
  color: gray;
}

.intro {
    font-weight: bold;
    margin-bottom: 1%;
    height: auto;
}

.intro h1 {
    font-size: xx-large;
    text-align: center;
}

.intro .metier {
    font-size: smaller;
    color: gray;
}

/* Slider */

#carouselExampleIndicators {
  height: 500px;
}

.carousel-indicators {
  height: 500px;
}